body {
	background: #FFFFFF;
	color: #757575;
	font-family: "Montserrat";
	font-size: 16px;
}

button, input, select, textarea {
	font-family: "Montserrat";
	font-size: 16px;
}

.wrapper {
	margin: 35px auto;
	width: 400px;
}

.name {
	margin: 25px auto;
	max-width: 90%;
	text-align: center;
	color: #4298d3;
	font-family: "Montserrat";
	font-size: 35px;
}

input {
	border-radius: 0;
	border: 1px ;
	line-height: normal;
	padding: 15px 2%;
}

input[type="submit"],
.submit {
	color: #ffffff;
	font-weight: 700;
	padding: 15px 0;
}

.add-wrapper, .to-do-wrapper {
	width: 100%;
}

.add-to-do {
	background: #ffffff;
	border: 1px solid #eee;
	color: #757575;
	float: left;
	height: 18px;
	margin: 0 -2px;
	width: 63%;
}

.add-to-do:focus {
	border: 2px solid #ddd;
}

input.add {
	background-color: #4298d3;
}

input.add:active {
	background-color: #0095bb;
}

.submit {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	height: 50px;
	width: 33%;
}

.to-do-wrapper {
	background: #eee;
	border-radius: 3px;
	display: none;
	margin: 10px 0;
	overflow: hidden;
	position: relative;
}

.to-do.item {
	background: transparent;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	color: #757575;
	cursor: pointer;
	float: left;
	font-size: 14px;
	height: 16px;
	margin-left: 45px;
	padding-left: 0;
	width: 88%;
}

.complete-item {
	color: #757575;
	cursor: pointer;
	height: 48px;
	left: 0;
	position: absolute;
	width: 45px;
}

.complete-item i {
	font-size: 18px;
	position: absolute;
	right: 15px;
	top: 15px;}

.to-do-wrapper.completed {
	background: #ddf8de;
	-moz-transition: background .3s ease;
	-ms-transition: background .3s ease;
	-o-transition: background .3s ease;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
}

.completed .to-do.item,
.completed .complete-item {
	color: #3ca13c;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.to-do-wrapper.completed.about-to-delete {
	background: #771F1F;
}

.completed.about-to-delete .complete-item,
.completed.about-to-delete .to-do.item {
	color: #a1543c;
}

.delete-completed {
	-moz-transition: color .25s ease;
	-ms-transition: color .25s ease;
	-o-transition: color .25s ease;
	-webkit-transition: color .25s ease;
	color: #999;
	cursor: pointer;
	display: none;
	float: right;
	font-weight: 600;
	margin: 0 auto;
	padding: 20px 0 0;
	transition: color .25s ease;
}

.delete-completed:hover {
	color: #555;
}